# Файлы с секретами
.env
*.key

# Логи
*.log

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
venv/
env/
ENV/

# PyCharm
.idea/

# VS Code
.vscode/

# Другие временные файлы
*.bak
*.swp
*.tmp
